# Quelques Opérations sur les matrices en Python

## Importation des Packages

In [1]:
%matplotlib inline

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
plt.style.use('ggplot')

In [14]:
revenu.to_csv??

## Dataset Revenu

In [27]:
tab_revenu = {'FY 2018': [180, 24, 12], 'FY 2019': [200, 36, 18], 'FY 2020': [220, 40, 20]}

revenu = pd.DataFrame(tab_revenu, index=['iPhone', 'iPad', 'Mac'])
revenu.to_csv('./../data/revenu.csv', index=True, index_label=['modele'] )
revenu = pd.read_csv('./../data/revenu.csv', index_col='modele')
revenu.head()

        FY 2018  FY 2019  FY 2020
modele
iPhone      180      200      220
iPad         24       36       40
Mac          12       18       20

## Dataset Profit

In [29]:
tab_profit = {'FY 2018': [100, 14, 4], 'FY 2019': [110, 20, 8], 'FY 2020': [120, 20, 10]}

profit = pd.DataFrame(tab_profit, index=['iPhone', 'iPad', 'Mac'])
profit.to_csv('./../data/profit.csv', index=True, index_label=['modele'] )
profit = pd.read_csv('./../data/profit.csv', index_col='modele')
profit.head()

        FY 2018  FY 2019  FY 2020
modele
iPhone      100      110      120
iPad         14       20       20
Mac           4        8       10

## Dataset Expenses

In [35]:
expenses = revenu-profit
expenses.to_csv('./../data/expenses.csv')
expenses = pd.read_csv('./../data/profit.csv', index_col='modele')
expenses.head()

        FY 2018  FY 2019  FY 2020
modele
iPhone      100      110      120
iPad         14       20       20
Mac           4        8       10

## Dataset Unit

In [38]:
tab_units = {'FY 2018': [30, 5, 2], 'FY 2019': [40, 10, 5], 'FY 2020': [50, 15, 7]}

units = pd.DataFrame(tab_units, index=['iPhone', 'iPad', 'Mac'])
units.to_csv('./../data/units.csv', index=True, index_label=['modele'] )
units = pd.read_csv('./../data/units.csv', index_col='modele')
units.head()

        FY 2018  FY 2019  FY 2020
modele
iPhone       30       40       50
iPad          5       10       15
Mac           2        5        7

## Dataset Prix Unitaire

In [41]:
dict_unit_price = {'iPhone': [1000], 'iPad': [400], 'Mac': [1200]}

unit_price = pd.DataFrame(dict_unit_price, index=['Prix par'])
unit_price.to_csv('./../data/unit_price.csv', index=True, index_label=['unit'] )
unit_price = pd.read_csv('./../data/unit_price.csv', index_col='unit')
unit_price.head()

          iPhone  iPad   Mac
unit
Prix par    1000   400  1200

## Prix de Vente par Modèle en dollar

In [52]:
price_per_modele = unit_price.dot(units)
price_per_modele.reset_index(drop=True, inplace=True)
price_per_modele

   FY 2018  FY 2019  FY 2020
0    34400    50000    64400

In [57]:
price_per_modele.to_csv('./../data/price_per_modele.csv', index=False, index_label=False)

In [60]:
price_per_modele = pd.read_csv('./../data/price_per_modele.csv')
price_per_modele.head()

   FY 2018  FY 2019  FY 2020
0    34400    50000    64400